<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Historia_Clinica.Properties.Settings.HistoriaClinicaConnectionString"
            connectionString="Data Source=192.168.1.10;Initial Catalog=HistoriaClinica;User ID=usuhistoria;Password=2018"
            providerName="System.Data.SqlClient" />
        <add name="Historia_Clinica.Properties.Settings.ConexionInformeAtencion"
            connectionString="Data Source=192.168.1.10;Initial Catalog=HistoriaClinica;User ID=usuhistoria;Password=2018"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/>
    </startup>
</configuration>
